@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif; }

header {
  justify-content: space-between; }
  header div {
    display: flex;
    margin-right: 10px;
    align-self: center;
    flex-grow: 1; }

nav {
  background: linear-gradient(90deg, #c83861 0%, #ff9fbe 59%, rgba(0, 212, 255, 0) 92%);
  min-height: 90px; }
  nav img {
    height: 30px; }

.navbar__logo--ml {
  padding-left: 5vw; }

.nav-area {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  transition: top .6s;
  overflow: hidden; }

.nav--height {
  height: 100%; }

.nav-area.animate {
  top: -91px; }

.nav-area.sticky {
  top: 0;
  z-index: 99; }

.nav__buttom--hoverwhite:hover {
  color: white;
  transition: .2s; }

body {
  background-image: url(../img/Fondo-Drinkit.png);
  background-size: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed; }

main {
  padding-top: 140px;
  padding-bottom: 30px; }
  main div {
    display: flex-inline; }

h1 {
  display: block;
  font-size: 5em;
  font-family: "Abril Fatface", cursive;
  padding-right: 40vw;
  line-height: .9em;
  color: #40255a;
  text-transform: uppercase; }

#index h2 {
  font-size: 2em;
  text-transform: uppercase;
  max-width: 600px; }

#index main {
  padding-left: 6vw;
  padding-right: 6vw; }

#index p {
  color: grey;
  display: inline-block;
  width: 400px;
  margin-top: 10px; }

#index section {
  display: flex-inline; }

#contacto label {
  display: block;
  margin: 10px;
  margin-right: 20px; }

#contacto input {
  display: block;
  margin: 10px;
  margin-right: 20px; }

#contacto select {
  display: block;
  margin: 10px;
  margin-right: 20px; }

.heightbtm {
  height: 30px;
  margin-top: 10px; }

.error404 {
  background-image: url(../img/error404.png);
  background-size: cover;
  align-content: center; }

.free {
  margin-left: 45vw;
  margin-top: 50vh; }

legend {
  padding: 2px 20px 2px 20px;
  color: white;
  background-color: grey;
  border-radius: 25px;
  font-size: .8em; }

fieldset section {
  display: flex;
  flex-wrap: wrap; }

form {
  display: flex;
  margin-top: 20px; }

fieldset {
  padding: 20px 40px 20px 40px;
  border: solid 4px grey;
  border-radius: 25px;
  background-color: rgba(245, 174, 174, 0.726);
  /* width: 50% */ }

#comofunciona h1 {
  text-align: center;
  line-height: 1;
  margin-top: 50px; }

#comofunciona p {
  max-width: 500px;
  color: grey;
  margin-top: 50px;
  margin-bottom: 30px; }

#comofunciona section {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#comofunciona video {
  display: flex;
  max-width: 500px;
  border-style: dashed;
  margin-top: 20px;
  margin-bottom: 5px; }

.flex-center {
  display: flex;
  justify-content: center; }

.comofunc--flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 100px 0px 40px 0px;
  padding: 20px 80px 20px 80px;
  background-color: #40255a; }

.paddingViewPort {
  padding-right: 6vw;
  padding-left: 6vw; }

.comofunc__card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  margin: 20px; }

.img--size {
  max-height: 120px; }

.alignTextCenter {
  text-align: center;
  margin: 0 30px 0 30px; }

#nosotros p {
  background-color: rgba(245, 174, 174, 0.917);
  padding: 20px;
  border-radius: 15px; }

#nosotros main {
  display: flex;
  flex-direction: column; }

/*animation*/
.scale:hover {
  transform: scale(0.95);
  transition: transform .5s;
  cursor: pointer; }

.scaleup:hover {
  transform: scale(1.03);
  transition: transform .8s;
  cursor: pointer;
  overflow: hidden; }

/*animation*/
#kit main {
  padding-left: 6vw;
  padding-right: 6vw; }

#contacto main {
  padding-left: 6vw;
  padding-right: 6vw; }

#nosotros main {
  padding-left: 6vw;
  padding-right: 6vw; }

#comofunciona main {
  background-color: #FFF1EA; }

.main__p--textAlignRight {
  text-align: right;
  margin-left: 20vw;
  margin-right: 6vw;
  width: 100px; }

.main__acordeon--bgcolor {
  background-color: rgba(245, 174, 174, 0.917); }

.form__bottom--justify {
  display: flex;
  justify-content: space-around;
  margin-top: 10px; }

p.main__p--margin {
  margin-top: 25px; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px; }

@media only screen and (min-width: 1100px) {
  div.grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px; }
  #index body {
    background-image: url(../img/Fondo-Drinkit.png);
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed; } }

@media only screen and (min-width: 600px) and (max-width: 1099px) {
  div.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-gap: 20px; }
  #comofunciona section {
    display: flex;
    flex-direction: column; }
  body {
    background-size: 200%;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed; } }

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-gap: 20px; }
  body {
    background-size: 230%;
    background-position: right top;
    background-repeat: repeat;
    background-attachment: fixed; }
  p {
    font-size: .8em;
    background-color: rgba(245, 174, 174, 0.917);
    padding: 20px;
    border-radius: 15px; }
  #comofunciona section {
    display: flex;
    flex-direction: column; }
  #comofunciona main div {
    display: block;
    justify-content: center; }
  #comofunciona p {
    display: flex; }
  .main__style {
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  .main__p--textAlignRight {
    text-align: center;
    margin-left: 0;
    margin-right: 0; }
  h1 {
    font-size: 10vw;
    padding-right: 0vw;
    line-height: 1em;
    color: #6bc7bd;
    text-transform: uppercase; }
  #index h2 {
    font-size: 1.5em;
    text-transform: uppercase; } }

div a img {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#kit main section {
  margin-bottom: 35px; }

footer {
  padding-left: 7vw;
  padding-top: 5px;
  height: 20vh; }
  footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around; }
    footer ul li {
      color: white;
      font-size: 10px;
      align-content: center; }
      footer ul li a {
        text-decoration: none;
        color: white;
        line-height: 20px;
        word-spacing: 5px;
        font-size: 10px; }
        footer ul li a img {
          height: 10px; }

.footer--width {
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 100px; }

.footer--bgcolor {
  background-color: #40255a; }
