header {
    // display: flex;
    // padding-left: 6vw;
    // flex-wrap: wrap;
    // padding-right: 15vw;
    // padding-top: 10px;
    // padding-bottom: 10px;
    justify-content: space-between;
    // padding-left: 6vw;
    

    div {
        display: flex;
        margin-right: 10px;
        align-self: center;
        flex-grow: 1;

    }


}