nav {
    background: $navColor;
    min-height: 90px;
    // box-sizing: border-box;

    img {
        height: 30px;
    }
}

.navbar__logo--ml {
    padding-left: 5vw;

}

.nav-area {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    // box-sizing: border-box;
    transition: top .6s;
    overflow: hidden;
}

.nav--height {
    height: 100%;
}

.nav-area.animate {
    top: -91px;
}

.nav-area.sticky {
    top: 0;
    z-index: 99;
}

.nav__buttom--hoverwhite:hover {
    color: white;
    transition: .2s;
}